lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

# Ignore compiled js and css files
*.js
public/javascripts/*.js
public/stylesheets/neptune.css
public/bower_components/
